body{
    background-color: red;
    <h1 style="colour:red"</h1>
}


   

    fullName;
    companyName;
    designation;
    companyWebsite;
    phone;
    profilePicture;
    companyLogo;
    email;
    location;